<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <arg name="path" default="$(find ur_description)/config" />
  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro robot_model:=ur5 prefix1:=left joint_limit_params:=$(arg path)/ur5/joint_limits.yaml kinematics_params:=$(arg path)/ur5/default_kinematics.yaml physical_params:=$(arg path)/ur5/physical_parameters.yaml visual_params:=$(arg path)/ur5/visual_parameters.yaml prefix2:=right '$(find agri_gazebo_scene)/urdf/ur_moveit.xacro'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find agri_robot_moveit_setup)/config/ur5_robot.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find agri_robot_moveit_setup)/config/joint_limits.yaml"/>
    <rosparam command="load" file="$(find agri_robot_moveit_setup)/config/cartesian_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find agri_robot_moveit_setup)/config/kinematics.yaml"/>

  </group>

</launch>
